$title-font: 'Bungee', sans-serif;
$font-stack: 'Source Sans Pro', sans-serif;
$nav-bg-color: #4056A1;
$header-bg-color: rgb(123, 208, 216);
$header-txt-color: #ffffff;
$body-txt-color: #545149;
$body-bg-color: #f4f1ec;
$accent-color: #84CEEB;