@import 'theme';

nav {
  position: fixed;
  height: 100px;
  z-index: 10;
  background-color: $nav-bg-color;
  width: 100%;
  color: $header-txt-color;
  padding: 1.5em;
  top: 0;
  left: 0;
  
  .logo {
    font-family: $title-font;
    font-size: 36px;
    margin: 0;
    display: inline-block;
  }

  .write-tweet-toggle {
    float: right;
    font-family: $font-stack;
    font-size: 22px;
    cursor: pointer;
    margin-right: 1vw;

    p {
      font-weight: lighter;
      margin: 0;
    }

    b {
      font-weight: 700;
    }

    .arrow {
      position: relative;
      left: 50%;
      top: 0.35em;
    }

    .arrow span {
      display: block;
      width: 10px;
      height: 10px;
      border-bottom: 2.5px solid $accent-color;
      border-right: 2.5px solid $accent-color;
      transform: rotate(45deg);
      margin: 0px;
      animation: arrow-drop 2s infinite;
    }

    .arrow span:nth-child(2) {
      animation-delay: -0.2s;
    }
  }
}

@keyframes arrow-drop {
  0%{
    opacity: 0;
    transform: rotate(45deg) translate(-7px,-7px);
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: rotate(45deg) translate(0px,0px);
  }
}

.back-to-top {
  position: fixed;
  right: 8%;
  bottom: 10%;
  z-index: 10;
  display: none;
  animation: bounce 2s infinite;

  img {
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
}

@keyframes bounce {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(0px, -10px);
  }
}

@media only screen and (min-width: 1024px) {
  .back-to-top {
    right: 4%
  }
 }