nav {
  position: fixed;
  height: 100px;
  z-index: 10;
  background-color: #4056A1;
  width: 100%;
  color: #FFFFFF;
  padding: 1.5em;
  top: 0;
  left: 0;
}

nav .logo {
  font-family: 'Bungee', sans-serif;
  font-size: 36px;
  margin: 0;
  display: inline-block;
}

nav .write-tweet-toggle {
  float: right;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
  cursor: pointer;
  margin-right: 1vw;
}

nav .write-tweet-toggle p {
  font-weight: lighter;
  margin: 0;
}

nav .write-tweet-toggle b {
  font-weight: 700;
}

nav .write-tweet-toggle .arrow {
  position: relative;
  left: 50%;
  top: 0.35em;
}

nav .write-tweet-toggle .arrow span {
  display: block;
  width: 10px;
  height: 10px;
  border-bottom: 2.5px solid #84CEEB;
  border-right: 2.5px solid #84CEEB;
  transform: rotate(45deg);
  margin: 0px;
  animation: arrow-drop 2s infinite;
}

nav .write-tweet-toggle .arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

@keyframes arrow-drop {
  0%{
    opacity: 0;
    transform: rotate(45deg) translate(-7px,-7px);
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: rotate(45deg) translate(0px,0px);
  }
}

.back-to-top {
  position: fixed;
  right: 8%;
  bottom: 10%;
  z-index: 10;
  display: none;
}

.back-to-top img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

@media only screen and (min-width: 1024px) {
  .back-to-top {
    right: 4%
  }
 }