nav {
  position: fixed;
  height: 100px;
  z-index: 9999;
  background-color: #4056A1;
  width: 100%;
  color: #FFFFFF;
  padding: 1.5em;
  top: 0;
  left: 0;
}

nav > span {
  font-family: 'Bungee', sans-serif;
  font-size: 36px;
}

nav aside {
  float: right;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
}

nav div {
  float: right;
}

.arrow {
  position: relative;
  top: 1.45em;
  right: 50%;
}

.arrow span {
  display: block;
  width: 10px;
  height: 10px;
  border-bottom: 2.5px solid #84CEEB;
  border-right: 2.5px solid #84CEEB;
  transform: rotate(45deg);
  margin: 0px;
  animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

@keyframes animate {
  0%{
      opacity: 0;
      transform: rotate(45deg) translate(-7px,-7px);
  }
  50%{
      opacity: 1;
  }
  100%{
      opacity: 0;
      transform: rotate(45deg) translate(0px,0px);
  }
}