.new-tweet {
  margin-top: 1em;
  display: none;
}

.new-tweet .text-input{
  background-color: #f4f1ec;
  color: #545149;
  width: 100%;
  border: none;
  border-bottom: 4px solid #545149;
  resize: none;
  outline: 0;
  overflow: hidden;
}

.new-tweet textarea::-webkit-input-placeholder {
  color: #545149;
  opacity: 1;
  font-size: 24px;
  font-weight: 700;
}

.new-tweet .counter {
  float: right;
  font-family: 'Bungee', sans-serif;
}

.new-tweet input {
  background-color: #4056A1;
  border: none;
  color: #FFFFFF;
  font-family: 'Bungee', sans-serif;
  font-size: 20px;
}

.new-tweet .successful-tweet {
  margin: 1em 0;
  display: none;
}

.new-tweet .successful-tweet p{
  padding: 0.25em 1em;
  color: #4F8A10;
  background-color: #DFF2BF;
  margin: 0;
  font-size: 20px;
}

.new-tweet .error-no-msg,
.new-tweet .error-excess-msg {
  margin: 1em 0;
  display: none;
}

.new-tweet .error-no-msg p,
.new-tweet .error-excess-msg p{
  padding: 0.25em 0.5em;
  color: #D8000C;
  background-color: #FFD2D2;
  margin: 0;
  font-style: italic;
  font-size: 20px;
}